/* H1 style for page header*/
h1.headerStyle {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0px;
  margin: 0px;
}

/* Setting container style for header*/
.containerStyle {
  background-color: #1f1f1f;
}

/* Nav Styling - start */
.navBarStyle {
  background-color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.nav-item {
  margin-left: 25px;
  margin-right: 25px;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: white;
}
/* Nav Styling - end */

/* Style for filtering drop down menu */
.filteringStyle {
  background-color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Home Component Styling - start */
.homeContainerStyle {
  padding: 0px;
  margin: 0px;
}

.homeStyle {
  text-align: center;
  margin-top: 25px;
  padding: 0px;
}
/* Home Component Styling - end */

/* Footer Component Styling - start */
.footerStyle {
  background-color: #1f1f1f;
  justify-content: center;
}

.footerText {
  color: white;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.clear {
  height: 75px; /* Stops text over-running footer */
}
/* Footer Component Styling - end */

/* About Component Styling - start */
.aboutStyle {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 10%;
}

h3.AboutStyle {
  font-size: 1.2rem;
}
/* About Component Styling - end */

/* Privacy Component Styling - start */
.privacyStyle {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 10%;
}

h3.PrivacyStyle {
  font-size: 1rem;
}
/* Privacy Component Styling - end */

.contactStyle {
  min-width: 100%;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 10%;
}

/* Contact Copmponent - Full Width text area - start */
.form-inline {
  width: 100%;
}

.form-group {
  width: 100%;
}

.input-group {
  width: 100% !important;
}

.form-control {
  width: 100% !important;
}
/* Contact Copmponent - Full Width text area - end */

/* Styling for individual property*/
.singlePropStyle {
  text-align: center;
  margin-top: 25px;
}

/* Styling for individual property div*/
.singlePropDiv {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 1vh;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

/* Property text styling - start */
h2.PropNameStyle {
  font-size: 1.2rem;
  font-weight: bold;
}

p.PropNameStyle {
  font-size: 1rem;
  font-weight: bold;
}
/* Property text styling - end */

/* Setting width of property images */
.propImageStyle {
  width: 90%;
}

/* return to home link style */
a.linkStyle {
  color: #000000;
}

/* Leaflet Map Styling - start */
.mapStyle { /* Dimensions for Leaflet Map */
  height: 90%;
  width: 95%;
}

.mapLink {
  text-align: center;
}
/* Leaflet Map Styling - end */

/* React-Slideshow-Image Custom Styling - start */
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
/* Leaflet Map Styling end */